@import "app/styles/mixins";

.theme-switcher {
  $self: &;

  --theme-switcher-width: 4rem;

  display: grid;
  grid-template-columns: auto var(--theme-switcher-width) auto;
  gap: 0.5rem;
  align-items: center;

  &__icon {
    @include base-transition;
  }

  &__button {
    position: relative;
    width: var(--theme-switcher-width);
    height: 2rem;
    background-color: transparent;
    border: 2px solid var(--color-main-text);
    border-radius: 1rem;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      content: "";
      background-color: var(--color-main-text);
      border-radius: 50%;
      transition: transform 0.3s ease-in-out;
      transform: translate(3px, -50%);
    }

    &--dark {
      &::before {
        transform: translate(calc(var(--theme-switcher-width) - 100% - 8px), -50%);
      }
    }
  }

  &.small {
    --theme-switcher-width: 3rem;

    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;

    #{$self}__button {
      grid-row: 2;
      grid-column: span 2;
    }
  }
}
