@import "app/styles/mixins";

.sidebar {
  $self: &;

  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--color-navbar-bg);

  @include base-transition;

  &--collapsed {
    width: var(--sidebar-collapsed-width);
  }

  &__content {
    display: grid;
    gap: 1rem;
    padding: 1rem;
  }

  &__footer {
    display: grid;
    gap: 1rem;
    justify-items: center;
    padding-bottom: 1rem;
  }

  #{$self}__toggle-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: auto 0fr;
    gap: 0;
    padding: 1rem;
    color: var(--color-text);
    background-color: var(--color-navbar-bg);
    border: none;
    border-top-right-radius: 0.5rem;
    transform: translateX(calc(100% - 2px));

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    &:hover,
    &:focus-visible {
      grid-template-columns: auto min-content;
      gap: 1rem;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }
  }

  &__toggle-icon {
    @include base-transition("transform");

    &--collapsed {
      transform: rotateZ(180deg);
    }
  }

  &__toggle-text {
    overflow: hidden;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.navbar {
  &__list {
    display: grid;
    gap: 1rem;
    margin-left: auto;
  }

  &__item {
    font-size: 1rem;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
  }

  &__link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: var(--color-accent);
    text-decoration: none;

    @include base-transition;

    &:hover,
    &:focus-visible {
      text-decoration-line: overline;
    }

    &--collapsed {
      gap: 0;
      justify-content: center;
    }
  }

  &__text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    @include base-transition;

    &--collapsed {
      width: 0;
      overflow: hidden;
    }
  }
}
