.lang-switcher {
  $self: &;

  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.5rem;

  &.small {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto;
  }

  #{$self}__button {
    padding: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.2;
    color: var(--color-main-text);
    border: 1px solid var(--color-main-text);
    border-radius: 6px;

    &--active {
      color: var(--color-accent);
    }

    &:hover,
    &:focus-visible,
    &:active {
      transform: scale(1.1);
    }
  }
}
