.app {
  --color-main-text: var(--color-black);
  --color-main-bg: var(--color-white);
  --color-navbar-bg: var(--color-light-gray);
  --color-accent: var(--color-dark-red);
  --color-primary: var(--color-dark-green);
  --color-secondary: var(--color-dark-blue);
}
