@import "app/styles/mixins";

.navbar {
  display: flex;
  align-items: center;
  height: var(--navbar-height);
  padding-inline: 2rem;
  background-color: var(--color-navbar-bg);

  @include base-transition;

  &__list {
    display: flex;
    gap: 2rem;
    margin-left: auto;
  }

  &__item {
    font-size: 1rem;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
  }

  &__link {
    color: var(--color-accent);
    text-decoration: none;

    &:hover,
    &:focus-visible {
      text-decoration-line: overline;
    }
  }
}
